<!-- product-card.html -->
<div class="card" [ngStyle]="{background: product().inStock?'#e0e0e0':'#EE8B8B'}">
  <h3>{{ product().name }}</h3>
  <div class="container">
    <img [src]="product().imageUrl" [alt]="product().name">
    <button class="favoriteButton" (click)="onToggleFavorite()"> {{isFavorite() ? '⭐':'★'}}</button>
  </div>

  <p>prix: {{product().price | currency: "EUR"}} avis: {{ratingMedium() | number}}⭐</p>
  <nav>
    @if (product().inStock) {
      <button (click)="onBuyClick()">Acheter</button>
    } @else {
      <button [disabled]="true">en rupture</button>
    }
    <button [routerLink]="[product().id]">Détails</button>
    <button (click)="onToggleRatingForm()">noter</button>
  </nav>
  @if (showRatingForm){
    <div class="container">
      <div class="ratingForm">
        <app-rating-form
          [productId]="product().id"
          (ratingFormSubmitted)="onReviewSubmitted($event)"
        > </app-rating-form>
      </div>
    </div>
  }
</div>
