// product-card.scss
.card {
  width: 18em;
  height: 23em;
  border-radius: 24px;
  border: 1px solid black;
  background: #e0e0e0;
  margin: 5px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;  
  transition: all 0.3s ease-in-out;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

button {
  border: black 1px solid;
  margin: 5px;
  border-radius: 10px;
}

.favoriteButton {
  position: absolute;
  right: 5px;
  top: 5px;
}

.container {
  position: relative;
}

.ratingForm{
  border: 1px solid black;
  background: #e0e0e0;
  position: absolute;
  top: -175px;
  left: -48px;

}
