<!-- search-form.html -->
<div class="search-form">
  <h3>Recherche</h3>
  <select [(ngModel)]="category">
    <option value="">Choisir une catégorie</option>
    <option value="gaming">Gaming</option>
    <option value="clothing">Vêtements</option>
    <option value="home">Mobilier</option>
    <option value="electronics">éléctronics</option>
    <option value="sports">Sports</option>
  </select>
  <p>Catégorie sélectionnée : {{ category() }}</p>
  <button (click)="SearchCategory()">search</button>
  <button (click)="reset()">Reset</button>
</div>
