  <form [formGroup]="loginForm">
    <label>
      username :
      <input type="text" formControlName="userName">
    </label>
    @if (loginForm.controls.userName.invalid && loginForm.controls.userName.touched) {
      <p class="error">username is not correct</p>
    }

    <label>
      passWord :
      <input type="password" formControlName="password">
    </label>
    @if (loginForm.controls.password.invalid && loginForm.controls.password.touched) {
      <p class="error">passWord is not valid</p>
    }


    <button type="submit" [disabled]="loginForm.invalid">Envoyer</button>
    <p>if you want to create an account: <a [routerLink]="['/register']">register</a></p>
  </form>

