nav {
  z-index: 1000;
  position: sticky;
  left: 0;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rebeccapurple;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
}

ul li a:hover {
  background-color: mediumpurple;
  transform: scale(1.07);
}
