/* HTML: <div class="spiral"></div> */
.loader{
  display: flex;
  align-items: center;
  flex-direction: column;
}
img{
  max-width: 25em;
  height: auto;
}

.drill {
  position: relative;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 150px solid #000;
}

.drillLineHead {
  position: absolute;
  top: 2px;
  left:-9px;
  border-bottom: 15px solid #fff;
  border-left: 11px solid transparent;
  border-right: 0px solid transparent;
  rotate: -18deg;
  width: 1px;
  animation: loading-drilling-animation-head 1s linear infinite;
}
.drillLineBottom{
  position: absolute;
  top: 120px;
  left:-102px;
  border-bottom: 15px solid #fff;
  border-left: 0px solid transparent;
  border-right: 50px solid transparent;
  rotate: -198deg;
  width: 90px;
  animation: loading-drilling-animation-bottom 0.333s linear infinite;
  animation-delay: -0.444s;
}

.drillLineHead:nth-child(2) {
  animation-delay: -0.33333s;
}

.drillLineHead:nth-child(3) {
  animation-delay: -0.66666s;

}



@keyframes loading-drilling-animation-head {

  0% {
    top: 2px;
    left:-9px;
    rotate: -18deg;
    width: 1px;

  }
  50%{
    top: 60px;
    left:-31px;
    rotate: -18deg;
    width: 41px;
  }
  100%{
    top: 121px;
    left:-54.5px;
    rotate: -18deg;
    width: 83.5px;
  }
}

@keyframes loading-drilling-animation-bottom {
  0%{
    top: 120px;
    left:-102px;
    width: 90px;
  }
  100%{
    top: 142px;
    left:-3.5px;
    width: 2px;
  }
}



