html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


#blackBorder{
  border: 1px solid black; // C'est du SCSS classique
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
img{
  max-width: 100%;
  height: auto;
}



.error {
  color: red;
  font-size: 0.85rem;
  margin: 0.25rem 0;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
  background-color: #ffe6e6;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
  background-color: #e6ffe6;
}

input {
  border: 1px solid #ccc;
  padding: 0.4rem;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease;
}


body {
  background-color: #f5f5f5;
  background-image: url("https://t3.ftcdn.net/jpg/05/18/83/22/360_F_518832288_Y18hP4rYjHGd7Fa4Vb9lfRmelj7jk2gI.jpg");
  background-repeat: repeat;
  background-size: 50%;
}
