
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


#blackBorder{
  border: 1px solid black; // C'est du SCSS classique
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
img{
  max-width: 100%;
  height: auto;
}



.error {
  color: red;
  font-size: 0.85rem;
  margin: 0.25rem 0;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
  background-color: #ffe6e6;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
  background-color: #e6ffe6;
}

input {
  border: 1px solid #ccc;
  padding: 0.4rem;
  border-radius: 4px;
  outline: none;
  transition: all 0.2s ease;
}

//loading animation
.drill {
  position: relative;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 150px solid #000;
}

.drillLineHead {
  position: absolute;
  top: 2px;
  left:-9px;
  border-bottom: 15px solid #fff;
  border-left: 11px solid transparent;
  border-right: 0px solid transparent;
  rotate: -18deg;
  width: 1px;
  animation: loading-drilling-animation-head 1s linear infinite;
}
.drillLineBottom{
  position: absolute;
  top: 120px;
  left:-102px;
  border-bottom: 15px solid #fff;
  border-left: 0px solid transparent;
  border-right: 50px solid transparent;
  rotate: -198deg;
  width: 90px;
  animation: loading-drilling-animation-bottom 0.333s linear infinite;
  animation-delay: -0.444s;
}

.drillLineHead:nth-child(2) {
  animation-delay: -0.33333s;
}

.drillLineHead:nth-child(3) {
  animation-delay: -0.66666s;

}



@keyframes loading-drilling-animation-head {

  0% {
    top: 2px;
    left:-9px;
    rotate: -18deg;
    width: 1px;

  }
  50%{
    top: 60px;
    left:-31px;
    rotate: -18deg;
    width: 41px;
  }
  100%{
    top: 121px;
    left:-54.5px;
    rotate: -18deg;
    width: 83.5px;
  }
}

@keyframes loading-drilling-animation-bottom {
  0%{
    top: 120px;
    left:-102px;
    width: 90px;
  }
  100%{
    top: 142px;
    left:-3.5px;
    width: 2px;
  }
}
